#game {
    border: 10px solid black;
    width: 600px;
    height: 350px;
    position: absolute;
    /* Align the Game in the center now */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}